a:hover, 
a:focus,
.header-main ul li span.active,
#usuario:target .icon-a,
#producto:target .icon-c,
#sucursal:target .icon-d,
#proveedor:target .icon-e,
.sucursal-valid #loader i,
.pt-usuario .info .loc,
.pt-usuario .desc-icon p,
.pt-usuario .inter-icon i,
.pt-usuario .testimonial-item:before,
.pt-usuario .testimonial-item .rating li,
.producto-valid #loader i,
.proveedor-valid #loader i,
.pt-usuario .inter-icon i {
	color: #3fa9f3 ;
}

.btn-st:after {
	background: #3fa9f3 ;
}

.page .header-page:after,
.page .header-page:before,
.page .header-box h3:before,
.page .header-box h3:after,
.pt-resume .experience .item:before,
.pt-resume .experience .item:after,
.pt-resume .experience .item:hover h4:before,
.pt-resume .skill-item .progress .progress-bar,
.pt-resume .work-process .dots:after {
	background-color: #3fa9f3 ;
}

.pt-usuario .info-icon i,
.pt-usuario .service:hover i:after,
.pt-usuario .price:hover i:after {
	border: 1px solid #3fa9f3 ;
}

.pt-home .lang ul li a.active {
	border-bottom: 1px solid #3fa9f3 ;
}

.page .header-page span:before,
.page .header-page span:after,
.pt-resume .experience .main h4:before {
    border: 2px solid #3fa9f3 ;
}

.producto-form input:focus,
.producto-form textarea:focus,
.sucursal-form input:focus,
.sucursal-form textarea:focus,
.proveedor-form input:focus,
.proveedor-form textarea:focus {
	border-bottom: 1px solid #3fa9f3 ;
}

#preloader.loaded .loading-area .circle {
	border-top-color: #3fa9f3 ;
}

@media screen and (max-width: 991px) {
    .single-wp.process-1,
    .single-wp.process-3 {
        border-right: 1px solid #3fa9f3 ;
    }
    .single-wp.process-1,
    .single-wp.process-2 {
        border-bottom: 1px solid #3fa9f3 ;
    }
}

@media screen and (max-width: 575px) {
	.single-wp.process-1,
    .single-wp.process-3 {
		border-bottom: none ;
        border-right: 1px solid #3fa9f3 ;
    }
    .single-wp.process-2,
    .single-wp.process-4 {
		border-bottom: none ;
        border-left: 1px solid #3fa9f3 ;
    }
}