body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
  background-color: #333;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar a {
  display: block;
  color: #fff;
  text-decoration: none;
  float: left;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #555;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3fa9f3;
  width: 100%;
  height: 100vh;
  z-index: 99;
  clip-path: circle(0% at 0% 0%);
}

.label-iniciasesion {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pagina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}

.hr-login {
  height: 2px;
  background-color: #3fa9f3;
}

.pagina div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#paginalogin {
  background: rgb(4,52,116);
  background: linear-gradient(15deg, rgba(4,52,116,1) 0%, rgba(18,54,95,1) 50%, rgba(203,217,254,1) 100%);
}

#paginaregistro {
  background-color: #ffffff;
  display: none;
}

h1,
h2 {
  font-size: 60px;
  color: white;

}

input {
  background-color: #0380a7;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: white;
  transition: all 0.3s;
}

input:hover {
  background-color: #49aac7;
}

@keyframes circleIn {
  from {
    clip-path: circle(0% at 0% 0%);
  }

  to {
    clip-path: circle(150%);
  }
}

@keyframes circleOut {
  from {
    clip-path: circle(150%);
  }

  to {
    clip-path: circle(0% at 0% 0%);
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#login-form {
  background-color: rgb(36, 36, 36);
  padding: 40px;
  border-radius: 60px;
  width: 100%;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

#login-form a {
  color: rgb(0, 225, 255);
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login-form input[type="email"],
#login-form input[type="password"] {
  width: 100%;
  background-color: rgb(19, 19, 19);
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

#login-form input[type="submit"] {
  background-color: #3fa9f3;
}

#login-form input[type="submit"] {
  background-color: #3fa9f3;
}

#registro-form {
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 60px;
  width: 80%;
}

#registro-form h1{
  font-size: 60px;
  color: rgb(0, 0, 0);
}

#registro-form a {
  color: rgb(0, 225, 255);
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#registro-form p {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#registro-form input[type="text"],
#registro-form input[type="password"], 
#registro-form input[type="email"],
#registro-form input[type="tel"] {
  width: 100%;
  background-color: rgb(19, 19, 19);
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #fff;
}

#registro-form input[type="submit"] {
  background-color: #3fa9f3;
}

#registro-form input[type="submit"] {
  background-color: #3fa9f3;
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}