* {
	margin: 0;
	padding: 0;
	font-family: inherit;
	outline: none;
	list-style: none ;
	text-decoration: none;
}

*:after, 
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

body {
	font-family: 'Poppins',sans-serif;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	letter-spacing: 0.8px;
	background-color: #1a2a41;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none;
}

a {
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-decoration: none;
}

a:hover, 
a:focus {
	color: #fff;
	text-decoration: none;
}

h1,
h3 {
	margin: 0;
	padding: 0; 
	color: #fff;
	font-weight: 600;
}

h1 {
	font-size: 70px;
}

h3 {
	font-size: 26px;
}

i, em {
	font-style: normal; 
}

img {
	max-width: 100%;
}

/************* BOTON VERDE CON LINEA *************/

.btn-st {
	position: relative;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 100;
	background-color: transparent;
	border: none;
	z-index: 2;
	padding: 3px 10px;
	transition: all 0.6s ease;
	text-decoration: none;
}

.btn-st:before {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #03cc57;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn-st:after {
	content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #ffffff;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn-st:hover:before {
	background-color: #03cc57;
    border: 3px solid #029740;
    transform: skew(20deg, 0deg) scale(1.1);
}

.btn-st:hover:after {
	background-color: #ffffff31;
    transform: skew(20deg, 0deg) translateX(240px);
	text-decoration: none;
}

/*************************************************/

.mt-100 {
    margin-top: 100px ;
}

.mb-40 {
    margin-bottom: 40px ;
}

.mb-50 {
    margin-bottom: 50px ;
}

.page {
	position: fixed;
	width: calc(90% + 2px);
	height: 100%;
	color: #fff;
	margin: 0;
	padding: 0;
	overflow: auto; 
	-webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	-moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	-o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
	transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
}

#usuario:target .pt-home,
#producto:target .pt-home,
#sucursal:target .pt-home,
#proveedor:target .pt-home {
	-webkit-filter: blur(3px);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.pt-usuario, 
.pt-producto,
.pt-sucursal,
.pt-proveedor {
	background-color: rgba(0, 0, 0, 0.2);
}

#usuario:target .pt-usuario,
#producto:target .pt-producto,
#sucursal:target .pt-sucursal,
#proveedor:target .pt-proveedor {
	transition-delay: .3s;
}

.page .header-page:after,
.page .header-page:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: calc(50% - 46px);
	bottom: -19px;
	background-color: #fff;
}

.page .header-page:before {
	left: calc(50% + 16px);
}

.page .header-page span {
	position: absolute;
    width: 35px;
    height: 17px;
    left: calc(50% - 17px);
    margin-top: 10px;
}

.page .header-page span:before,
.page .header-page span:after {
    content: '';
	position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    -moz-border-radius: 50px 50px 0;
    border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.page .header-page span:after {
    left: auto;
    right: 0;
    -webkit-border-radius: 50px 50px 50px 0;
    border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.page .header-box {
	position: relative;
	text-align: center;
}

.page .header-box:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 7px);
    bottom: -16px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
}

.page .header-box h3:before {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: calc(50% - 45px);
	bottom: -10px;
	background-color: #fff;
}

.page .header-box h3:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 1px;
	left: calc(50% + 15px);
	bottom: -10px;
	background-color: #fff;
}

.page .box {
	position: relative;
	padding: 30px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.page .box:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

.header-main {
	position: fixed;
	width: 10%;
	height: 100%;
    top: 0;
	overflow: auto;
    overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.header-main ul li {
	display: flex;
	align-items: center;
    justify-content: center;
	font-size: 27px;
	margin: 30px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.header-main ul li span.active {
	color: #000000;
}

#usuario:target .header-main ul li a,
#producto:target .header-main ul li a,
#sucursal:target .header-main ul li a,
#proveedor:target .header-main ul li a {
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
} 

#usuario:target .icon-a,
#producto:target .icon-c,
#sucursal:target .icon-d,
#proveedor:target .icon-e {
	color: #fff;
	-webkit-transform: scale(1.3) ;
	-ms-transform: scale(1.3) ;
	transform: scale(1.3) ;
}

.header-main .logo {
    text-align: center;
	padding: 40px 0;
}

.pt-home {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden; 
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center;
}

.pt-home:before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    background-color: #12171b;
}

.pt-home .banner {
	position: absolute;
	width: 90%;
    top: 50%;
	color: #fff;
    text-align: center;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pt-home .banner h1 {
	color: #fff;
	margin-bottom: 15px;
}

.pt-home .banner p {
	color: #fff;
	font-size: 30px;
}

/*************** Esto es el circulo que tiene la imagen de la opciÃƒÂ³n ***************/

.pt-usuario .service,
.pt-producto .service,
.pt-sucursal .service,
.pt-proveedor .service {
	text-align: center;
}

.pt-usuario .service i,
.pt-producto .service i,
.pt-sucursal .service i,
.pt-proveedor .service i {
	position: relative;
	width: 70px;
	height: 70px;
	font-size: 25px;
	line-height: 70px;
	color: #fff;
	background-color: #0e0f10;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.pt-usuario .service:hover i:after,
.pt-producto .service:hover i:after,
.pt-sucursal .service:hover i:after,
.pt-proveedor .service:hover i:after {
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	top: 5px;
	left: calc(50% - 30px);
	border-radius: 100%;
	border: 1px solid #00d9ff;
	-webkit-animation: zoomIn .3s ease;
	animation: zoomIn .3s ease;
}

.pt-usuario .service h4,
.pt-producto .service h4,
.pt-sucursal .service h4,
.pt-proveedor .service h4 {
	padding-top: 20px;
	padding-bottom: 20px;
}

#preloader {
    position: fixed;
    width: 100%;
	height: 100%;
    z-index: 5000;
}

#preloader.loaded {
    visibility: hidden;
}

#preloader.loaded .loading-area {
    opacity: 0;
}

#preloader .loading-area {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	opacity: 1;
    z-index: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#preloader.loaded .loading-area .circle {
	width: 50px;
	height: 50px;
	margin: 0 auto 50px auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 3px solid #fff;
	border-top-color: #0e0f10;
	-webkit-animation: spinner 1s infinite linear;
	animation: spinner 1s infinite linear;
}

#preloader.loaded .left-side {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition-delay: 1s;
}

#preloader .left-side {
    left: 0;
}

#preloader.loaded .right-side {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
    transform: translateX(100%);
    transition-delay: 1s;
}

#preloader .right-side {
    right: 0;
}

#preloader .left-side, 
#preloader .right-side {
	position: absolute;
	width: 50%;
    height: 100%;
	background: #0e0f10;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


@-webkit-keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

@keyframes spinner {
	to {
		-webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}
 

@-webkit-keyframes kenburnsSlide {
 	0% {
 		opacity: 0;
 		-webkit-transform: scale(1);
		transform: scale(1);
 	}
 	5% {
 		opacity: 1
 	}
 	25% {
 		opacity: 1
 	}
 	40% {
 		opacity: 0;
 		-webkit-transform: scale(1.1);
		transform: scale(1.1);
 	}
 	100% {
 		opacity: 0;
 		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
 
@keyframes kenburnsSlide {
 	0% {
 		opacity: 0;
 		-webkit-transform: scale(1);
		transform: scale(1);
 	}
 	5% {
 		opacity: 1
 	}
 	25% {
 		opacity: 1
 	}
 	40% {
 		opacity: 0;
 		-webkit-transform: scale(1.1);
		transform: scale(1.1);
 	}
 	100% {
 		opacity: 0;
 		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

#contenido1, #contenido2, #contenido3, #contenido4, #contenido5, #contenido6 {
	display: none;
	
}

#botones {
	display: flex;
	gap: 30px;
	margin-top: 10px;
	padding: 20px 20px;
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
	animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.inputBox {
	position: relative;
	width: 250px;
}

.inputBox input {
	width: 80%;
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: #0e0f10;
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-size: 1em;
	transition: 0.5s;
}

.inputBox span {
	position: absolute;
	left: 29;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.25);
	text-transform: uppercase;
	transition: 0.5s;
}

.inputBox input:valid ~ span, 
.inputBox input:focus ~ span {
	color: #1a2a41;
	transform: translateX(10px) translateY(-7px);
	font-size: 0.65em;
	padding: 0.10px;
	background: #03cc57;
	border-left: 1px solid #03cc57;
	border-right: 1px solid #03cc57;
	letter-spacing: 0.2em;
}

.inputBox input:valid, 
.inputBox input:focus {
	border: 1px solid #03cc57;
}

.botonesdemodificaciones{
    position: relative;
	color: #ffffff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 100;
	background-color: transparent;
	border: 3px solid #17a2ff;
	z-index: 2;
	padding: 6px 20px;
	overflow: hidden;
}

#sucursales, #proveedores {
	display: none;
}

.botoncambio2 {
    background: #ff0000;
    color: #000000;
	border-radius: 20px;
	padding: 1px 1px;
	font-weight: bold;
}

.botoncambio1 {
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    background: #ffffff;
    color: #000000;
    padding: 1px 1px;
    z-index: 9;
	font-weight: bold;
}

/*
.botonesdemodificaciones::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: -2;
}

.botonesdemodificaciones::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color: #151E3F;
    
    z-index: -1;
}

.botonesdemodificaciones:hover::before{
    animation: botonesdemodificaciones 2s linear both;
}


@keyframes botonesdemodificaciones {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}
*/